@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  padding: 0;
  margin: 0;
  /* background-color: #f5f5f5; */
}

.container-main {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid yellow; */
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #40bfff;
}

/* header top__________________________________________________________________________________________ */
header-top {
  display: none;
}

.header-top-twins {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  padding: 20px 0px 5px;
}

.header-top-selector {
  border: none;
  font-weight: bold;
  font-size: 16px;
  /* background-color: #f5f5f5; */
}

.header-top-twins-right {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.header-top-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-user-about {
  margin-left: 5px;
  /* border: 1px solid red; */
}

.basket {
  display: flex;
  justify-content: space-between;
  /* position: absolute; */
}

.fa-cart-shopping {
  position: absolute;
  font-size: 20px;
}

#shop-amount {
  position: relative;
  color: white;
  background-color: #ff4858;
  padding: 2px;
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 12px;
  border-radius: 50%;
  top: -5px;
  left: 10px;
  font-size: 14px;
}

.header-top-sum {
  opacity: 0.5;
}

/* navbar section_________________________________________________________________________________________ */

.navbar-section-twins {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  /* border: 1px solid red; */
}

.navbar-section-twins-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  width: 30px;
  border-radius: 10px;
}

.navbar-second {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-section-twins-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  color: #262626;
  /* border: 1px solid blue; */
}

/* header start */

header {
  background: url(../img/header-main-img/header-main-img.png) no-repeat center;
  height: 630px;
  /* background-attachment: fixed; */
  /* background-size: contain; */
  object-fit: cover;
  display: flex;
  align-items: center;
}

.header-main-title {
  /* Title */

  /* position: absolute; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 150%;
  /* or 96px */
  letter-spacing: 0.5px;

  /* Background/White */
  color: #ffffff;
}

/* section-one 1111111111111111111111111111111111111111111111111111111111111111111111111 */

.section-one {
  position: relative;
  /* border: 1px solid red; */
  /* text-align: center; */
}

.section-one-trio {
  position: relative;
  top: -70px;
  left: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  /* height: 354px; */
}

/* ------------section-one-trio-twins 3talik asosiy----------------- */

.section-one-trio-twins {
  width: 300px;
  margin-top: 20px;
  /* height: 354px; */
  position: relative;
  /* border: 1px solid blue; */
}
.section-one-trio-twins:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px #9098b1;
}

.section-one-trio-twins img {
  width: 100%;
}

.section-one-trio-title {
  /* FS - Nike Air Max 270 React... */

  position: absolute;
  width: 180px;
  height: 57.47px;
  top: 10%;
  left: 10%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* or 30px */

  letter-spacing: 0.5px;

  /* Neutral/Dark */

  color: #223263;

  /* border: 1px solid yellow; */
}

.section-one-trio-discount {
  display: flex;
  justify-content: space-between;
  width: 160px;
  position: absolute;
  bottom: 10px;
  left: 25%;
}

.section-one-trio-discount-sum {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  letter-spacing: 0.5px;
  text-decoration-line: line-through;

  /* Neutral/Grey */

  color: #9098b1;
}

.section-one-trio-discount-percent {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  letter-spacing: 0.5px;

  /* Primary/Red */

  color: #fb7181;
}

.section-one-trio-sum {
  position: absolute;
  top: 30px;
  right: 20px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  /* identical to box height, or 54px */

  letter-spacing: 0.5px;

  /* Primary/Blue */

  color: #40bfff;
}

/* section-two 2222222222222222222222222222222222222222222222222222222222222222222222222222222 */

.section-two {
  /* height: 1700px; */
  position: relative;
  /* top: 400px; */
  /* border: 1px solid blue; */
}

.section-main-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  /* identical to box height */

  color: #22262a;
}

.categories-main-section {
  /* width: 687px; */
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories-main-section .categories-all:hover {
  color: #40bfff;
  cursor: pointer;
}

.categories-left-section {
  display: flex;
  justify-content: space-between;
  width: 75%;
  /* border: 1px solid red; */
}

.section-two-categories-select {
  width: 200px;
  font-size: 24px;
  border-radius: 10px;
  border: 3px solid #000;
  font-weight: bold;
  display: none;
  color: #000;
  padding: 5px;
  text-align: center;
}
.section-two-categories-select:hover{
  cursor: pointer;
}

/* MAIN */

#section-two-main_off {
  /* position: absolute; */
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  /* align-items: center; */
  /* border: 5px solid blue; */
  width: 90%;
  padding: 5px;
}

.section-two-main-part {
  width: 275px;
  /* height: 388px; */
  margin: 10px 10px;
  border: 3px solid #f6f7f8;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.section-two-main-part :hover {
  /* box-shadow: 10px 10px 10px #808080; */
  cursor: pointer;
}

.section-two-main-part :hover img {
  transform: scale(1.05);
}

.section-main-product-img {
  width: 270px;
  height: 272.5px;
  background-color: #e5e5e5;
  object-fit: cover;
}

.section-main-product-img img {
  object-fit: cover;
  width: 270px;
  height: 272px;
  position: absolute;
  inset: 0;
  transition: 0.52s;
}

.section-main-product-about {
  padding: 10px 20px;
}

.section-main-product-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  letter-spacing: 0.5px;

  /* Neutral/Dark */

  color: #223263;
}

.section-main-product-commit {
  opacity: 0.5;
  padding: 10px 0px;
}

.section-main-product-raiting {
  font-weight: 500;
}

.section-main-product-raiting {
  display: flex;
  justify-content: center;
}

.section-main-product-raiting-star i {
  color: #ffc600;
  padding: 0px 5px;
}

.section-main-product-raiting-likes {
  border-left: 2px solid #223263;
  padding-left: 15px;
}

.section-main-product-sum-trio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-main-product-discount-sum {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  /* or 32px */

  letter-spacing: 0.5px;

  /* Primary/Blue */

  color: #40bfff;
}

.section-main-product-original-sum {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  letter-spacing: 0.5px;
  text-decoration-line: line-through;

  /* Neutral/Grey */

  color: #9098b1;
  padding: 0px 10px;
}

.section-main-product-percent {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  letter-spacing: 0.5px;

  /* Primary/Red */

  color: #fb7181;
}

/* load-more */
.load-more {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  padding-top: 50px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
}

.load-more a{
  text-decoration: none;
  color: #002357;
}


/* section-three 3333333333333333333333333333333333333333333333333333333333333333333333333333333 */

.section-three {
  /* height: 600px; */
  background-color: #40bfff;
}

.section-three-twins {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.section-three-twins-left {
  /* border: 1px solid red; */
  padding: 200px 50px 100px 0px;
  z-index: 2;
}

.section-three-twins-left-title {
  /* Adidas Men Running Sneakers */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 82px;

  color: #ffffff;
}

.section-three-twins-left-commit {
  /* Performance and design. Taken right to the edge. */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #ffffff;
  padding-top: 20px;
}
.section-three-twins-left-link {
  padding-top: 20px;
}
.section-three-twins-left-link a {
  /* SHOP NOW */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #ffffff;
  letter-spacing: 2px;
}

.section-three-twins-left-link a:hover {
  font-weight: bold;
  color: #fff;
}

.section-three-twins-right {
  position: absolute;
  right: -50px;
  top: 0px;
  z-index: 1;
  /* border: 1px solid blue; */
}

/* section-four 4444444444444444444444444444444444444444444444444444444444444444444444444444444444444 */

/* .section-four {
  height: 600px;
} */

.profitable-main-trio {
  margin: 50px auto;
  width: 100%;
  /* margin: auto; */
  /* border: 1px solid green; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#sec-four-trio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;

  width: 200px;
  padding: 10px;
  /* height: 300px; */
  /* border: 1px solid red; */
}

.sec-four-trio-img {
  width: 100px;
  padding-bottom: 50px;
  /* height: 65px; */
}

.sec-four-trio-title {
  font-weight: 500;
  font-size: 27px;
  line-height: 40px;
  padding-bottom: 10px;
  color: #22262a;
}

.sec-four-trio-commit {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #22262a;
}

/* section-five 55555555555555555555555555555555555555555555555555555555555555555555555555555555555555 */

.section-five {
  /* height: 600px; */
  /* border: 1px solid rgb(0, 255, 200); */
  text-align: center;
  padding: 30px 0px;
}

.section-five-title {
  padding-bottom: 50px;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  /* identical to box height */

  color: #22262a;
}

.section-five-main-trio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid purple; */
}

#section-five-trio-twins {
  display: flex;
  align-items: center;
}

#section-five-trio-twins-left img {
  width: 149px;
}

#section-five-trio-twins-right {
  width: 190px;
  padding: 5px 5px 5px 30px;
  text-align: left;
}

#section-five-trio-twins-right-date {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #c1c8ce;
}

#section-five-trio-twins-right-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  color: #22262a;
}

#section-five-trio-twins-right-commit {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #22262a;
}

/* section-six 6666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666*/

.section-six {
  /* height: 600px; */
  /* border: 1px solid blue; */
  text-align: center;
  padding: 40px 0px;
}

.section-six-title {
  padding-bottom: 70px;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  /* identical to box height */

  color: #22262a;
}

.section-six-main-trio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid purple; */
}

#section-six-trio-twins {
  display: flex;
  align-items: flex-start;
}

#section-six-trio-twins-left img {
  width: 149px;
}

#section-six-trio-twins-right {
  width: 190px;
  padding: 0px 0px 0px 30px;
  text-align: left;
  justify-content: flex-start;
  /* border: 1px solid purple; */
}

#section-six-trio-twins-right-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;

  color: #262626;
}

.section-six-trio-twins-right-raiting {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 15px 0px;
}

#section-six-trio-twins-right-raiting-result {
  padding: 0px 5px;
}

.section-six-trio-twins-right-raiting-star {
  color: #ffc600;
  padding-right: 20px;
}

#section-six-trio-twins-right-raiting-likes {
  padding-left: 20px;
  border-left: 1px solid #22262a;
}

#section-six-trio-twins-right-raiting-likes i {
  color: #ff4858;
}

.section-six-trio-twins-right-sum {
  display: flex;
  align-items: center;
}

#section-six-trio-twins-right-discount-sum {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #ff4858;
  padding-right: 10px;
}

#section-six-trio-twins-right-original-sum {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #c1c8ce;
}

/* section-seven searching 77777777777777777777777777777777777777777777777777777777777777777777777777777777777 */

/* .section-seven {
  height: 500px;
} */

.section-seven-searching {
  margin: 80px auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  border: 1px solid green;
  width: 75%;
}

.section-seven-searching input {
  height: 75px;
  width: 100%;
  font-size: 20px;
  text-align: left;
  border: 3px solid #40bfff;
  background-color: #fff;
  padding: 10px;

  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  /* identical to box height */

  color: #262626;

  opacity: 0.35;
}

.section-seven-searching .submit-enter {
  height: 75px;
  width: 180px;
  background-color: #40bfff;
  color: white;
  font-size: 20px;
  border-style: none;
}

.section-seven-searching .submit-enter:hover {
  background-color: #40bfff;
  cursor: pointer;
}

.section-seven-searching form {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  width: 800px;
}

/* footer ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff */

footer {
  /* height: 600px; */
  background-color: #40bfff;
}

.footer-main {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-main-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  margin: 50px;
}

.footer-main-left table tr td {
  border-bottom: 2px solid #808080;
  padding: 5px;
}

/* social icons */
.footer-main-left table tr td a {
  margin-right: 15px;
  /* border: 1px solid red; */
  color: #ff4858;
}

.footer-left-title {
  font-weight: bold;
  font-size: 34px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-bottom: 5px solid #fb7181;
}

/* media responsive adaptive */

@media all and (max-width: 450px) {
  .container-main {
    width: 90%;
    /* border: 1px solid green; */
  }
  .navbar-section-twins {
    width: 300px;
    padding: 2px;
  }
  .section-one-trio-twins img {
    width: 300px;
  }
  .section-one-trio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .section-one-trio-twins {
    width: 300px;
  }
  .section-one-trio-title {
    font-size: 16px;
  }
  .section-one-trio-sum {
    font-size: 20px;
  }
  .section-one-trio-discount {
    left: 20%;
  }
  .section-two-main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  #section-two-main_off {
    justify-content: center;
  }
  .categories-left-section {
    display: none;
  }
  .section-two-categories-select {
    display: block;
  }
  .section-three-twins-left {
    padding: 50px;
  }
  .section-three-twins-right {
    position: absolute;
    right: 0px;
    top: 10%;
  }
  .section-three-twins-right img {
    width: 90%;
  }
  .profitable-main-trio {
    justify-content: center;
    flex-direction: column;
  }
  .section-five-main-trio {
    justify-content: center;
  }
  .section-six-main-trio {
    justify-content: center;
    padding: 10px;
  }
  #section-six-trio-twins {
    margin: 20px;
  }
  .footer-main-left {
    font-size: 16px;
  }
  .footer-main-right iframe {
    width: 250px;
    height: 200px;
  }
}

@media all and (min-width: 450.1px) and (max-width: 769px) {
  .container-main {
    width: 90%;
    /* border: 1px solid blue; */
  }
  .navbar-section-twins {
    width: 100%;
  }
  .section-one-trio-twins {
    width: 350px;
  }
  .section-one-trio-twins img {
    width: 300px;
  }
  .section-one-trio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .section-one-trio-twins {
    width: 300px;
  }
  .section-one-trio-title {
    font-size: 16px;
  }
  .section-one-trio-sum {
    font-size: 20px;
  }
  .section-one-trio-discount {
    left: 20%;
  }
  .section-two-main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  #section-two-main_off {
    justify-content: center;
  }
  .categories-left-section {
    display: none;
  }
  .section-two-categories-select {
    display: block;
  }
  .section-three-twins-left {
    padding: 50px;
  }
  .section-three-twins-right {
    position: absolute;
    right: 0px;
    top: 10%;
  }
  .section-three-twins-right img {
    width: 90%;
  }
  .profitable-main-trio {
    justify-content: center;
    flex-direction: column;
  }
  .section-five-main-trio {
    justify-content: center;
  }
  .section-six-main-trio {
    justify-content: center;
    padding: 10px;
  }
  #section-six-trio-twins {
    margin: 20px;
  }
  .footer-main-left {
    font-size: 20px;
  }
  .footer-main-right iframe {
    width: 370px;
  }
}

@media all and (min-width: 770px) and (max-width: 990px) {
  .container-main {
    width: 90%;
    /* border: 1px solid red; */
  }
  .navbar-section-twins {
    width: 100%;
  }
  .navbar-section-twins-right {
    width: 70%;
  }
  .section-one-trio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .section-two-main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  #section-two-main_off {
    align-items: center;
    justify-content: space-evenly;
  }
  .section-five-main-trio {
    justify-content: flex-start;
    justify-content: center;
  }
  #section-five-trio-twins {
    margin: 20px;
  }
  .section-six-main-trio {
    margin: 30px;
    justify-content: start;
    justify-content: center;
  }
  #section-six-trio-twins {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
