@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  padding: 0;
  margin: 0;
  /* background-color: #f5f5f5; */
}

.container-main {
  width: 1250px;
  margin: 0 auto;
  /* border: 1px solid red; */
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #40bfff;
}

/* header top */

.header-top-twins {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  padding: 20px 0px 5px;
}

.header-top-selector {
  border: none;
  font-weight: bold;
  font-size: 16px;
  /* background-color: #f5f5f5; */
}

.header-top-twins-right {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.header-top-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-user-about {
  margin-left: 5px;
  /* border: 1px solid red; */
}

.basket {
  display: flex;
  justify-content: space-between;
  /* position: absolute; */
}

.fa-cart-shopping {
  position: absolute;
  font-size: 20px;
}

#shop-amount {
  position: relative;
  color: white;
  background-color: #ff4858;
  padding: 2px;
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 12px;
  border-radius: 50%;
  top: -5px;
  left: 10px;
  font-size: 14px;
}

.header-top-sum {
  opacity: 0.5;
}

/* navbar section */

.navbar-section-twins {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  /* border: 1px solid red; */
}

.navbar-section-twins-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  width: 30px;
  border-radius: 10px;
}

.navbar-section-twins-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  font-weight: 500;
  font-size: 24px;
  color: #262626;
}

/* header start */

header {
  background: url(../img/header-main-img/header-main-img.png) no-repeat center;
  height: 630px;
  /* background-attachment: fixed; */
  /* background-size: contain; */
  object-fit: cover;
  display: flex;
  align-items: center;
}

.header-main-title {
  /* Title */

  /* position: absolute; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 150%;
  /* or 96px */
  letter-spacing: 0.5px;

  /* Background/White */
  color: #ffffff;
}

/* section-one 1111111111111111111111111111111111111111111111111111111111111111111111111 */

.section-one {
  position: relative;
  /* border: 1px solid red; */
  /* text-align: center; */
}

.section-one-trio {
  position: relative;
  top: -70px;
  left: 10px;
  display: flex;
  justify-content: space-between;
  width: 1230px;
  height: 354px;
}
/* ------------section-one-trio-one----------------- */
.section-one-trio-one {
  width: 434px;
  height: 354px;
  background-color: #ff7e89;
  position: relative;
}

.section-one-trio-one-title {
  /* FS - Nike Air Max 270 React... */

  position: absolute;
  width: 200px;
  height: 57.47px;
  top: 30px;
  left: 50px;
  right: 50px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  letter-spacing: 0.5px;

  /* Neutral/Dark */

  color: #223263;
}

.section-one-trio-one-discount {
  display: flex;
  justify-content: space-between;
  width: 160px;
  position: absolute;
  bottom: 10px;
  left: 150px;
}

.section-one-trio-one-discount-sum {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  letter-spacing: 0.5px;
  text-decoration-line: line-through;

  /* Neutral/Grey */

  color: #9098b1;
}

.section-one-trio-one-discount-percent {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  letter-spacing: 0.5px;

  /* Primary/Red */

  color: #fb7181;
}

.section-one-trio-one-sum {
  position: absolute;
  top: 30px;
  right: 20px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 180%;
  /* identical to box height, or 54px */

  letter-spacing: 0.5px;

  /* Primary/Blue */

  color: #40bfff;
}

/* ------------section-one-trio-two----------------- */

.section-one-trio-two {
  width: 434px;
  height: 354px;
  background: url(../img/section-one/section-one-trio/section-one-trio-two.png);
  position: relative;
}

.section-one-trio-two-title {
  /* FS - Nike Air Max 270 React... */

  position: absolute;
  width: 180px;
  height: 57.47px;
  top: 30px;
  left: 50px;
  right: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  letter-spacing: 0.5px;

  /* Neutral/Dark */

  color: #223263;

  /* border: 1px solid yellow; */
}

.section-one-trio-two-discount {
  display: flex;
  justify-content: space-between;
  width: 160px;
  position: absolute;
  bottom: 10px;
  left: 150px;
}

.section-one-trio-two-discount-sum {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  letter-spacing: 0.5px;
  text-decoration-line: line-through;

  /* Neutral/Grey */

  color: #9098b1;
}

.section-one-trio-two-discount-percent {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  letter-spacing: 0.5px;

  /* Primary/Red */

  color: #fb7181;
}

.section-one-trio-two-sum {
  position: absolute;
  top: 30px;
  right: 20px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 180%;
  /* identical to box height, or 54px */

  letter-spacing: 0.5px;

  /* Primary/Blue */

  color: #40bfff;
}

/*-------------------section-one-trio-three --------------- */

.section-one-trio-three {
  width: 434px;
  height: 354px;
  background: url(../img/section-one/section-one-trio/section-one-trio-three.png);
  position: relative;
}

.section-one-trio-three-title {
  /* FS - Nike Air Max 270 React... */

  position: absolute;
  width: 200px;
  height: 57.47px;
  top: 30px;
  left: 50px;
  right: 50px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  letter-spacing: 0.5px;

  /* Neutral/Dark */

  color: #223263;
}

.section-one-trio-three-discount {
  display: flex;
  justify-content: space-between;
  width: 160px;
  position: absolute;
  bottom: 10px;
  left: 150px;
}

.section-one-trio-three-discount-sum {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  letter-spacing: 0.5px;
  text-decoration-line: line-through;

  /* Neutral/Grey */

  color: #9098b1;
}

.section-one-trio-three-discount-percent {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  letter-spacing: 0.5px;

  /* Primary/Red */

  color: #fb7181;
}

.section-one-trio-three-sum {
  position: absolute;
  top: 30px;
  right: 20px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 180%;
  /* identical to box height, or 54px */

  letter-spacing: 0.5px;

  /* Primary/Blue */

  color: #40bfff;
}

/* section-two 2222222222222222222222222222222222222222222222222222222222222222222222222222222 */

.section-two {
  height: 1600px;
  position: relative;
  /* top: 400px; */
  /* border: 1px solid blue; */
}

.section-main-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  /* identical to box height */

  color: #22262a;
}

.categories-main-section {
  /* width: 687px; */
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 50px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories-main-section .categories-all:hover {
  color: #40bfff;
  cursor: pointer;
}

.categories-left-section {
  display: flex;
  justify-content: space-between;
  width: 550px;
  /* border: 1px solid red; */
}

.categories-right-section {
  display: flex;
  justify-content: space-between;
  width: 400px;
  align-items: center;
  /* border: 1px solid red; */
}

/* sort-gender */
.sort-gender {
  color: #22262a;
  font-size: 22px;
  font-weight: bold;
  border: none;
  width: 70px;
}

.sort-gender option {
  color: #22262a;
  /* font-size: 22px; */
  font-weight: bold;
  border: none;
}

/* sort-color */
.sort-color {
  color: #22262a;
  font-size: 22px;
  font-weight: bold;
  border: none;
}

.sort-color option {
  color: #22262a;
  /* font-size: 22px; */
  font-weight: bold;
  border: none;
}

/* sort-brand */
.sort-brand {
  color: #22262a;
  font-size: 22px;
  font-weight: bold;
  border: none;
}

.sort-brand option {
  color: #22262a;
  /* font-size: 22px; */
  font-weight: bold;
  border: none;
}

/* MAIN */

.section-two-main {
  /* position: absolute; */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  /* border: 1px solid greenyellow; */
  top: 200px;
  width: 1200px;
}

.section-two-main-part {
  width: 270px;
  height: 388px;
  margin: 10px 10px;
  border: 3px solid #f6f7f8;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 3px;
}

.section-main-product-img {
  width: 270px;
  height: 272.5px;
  background-color: #e5e5e5;
}

.section-main-product-img img {
  object-fit: cover;
  width: 270px;
  height: 272.5px;
}

.section-main-product-about {
  padding: 10px 30px;
}

.section-main-product-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  letter-spacing: 0.5px;

  /* Neutral/Dark */

  color: #223263;
}

.section-main-product-raiting {
  font-weight: 500;
}

.section-main-product-raiting {
  display: flex;
  justify-content: center;
}

.section-main-product-raiting-star i {
  color: #ffc600;
  padding: 0px 5px;
}

.section-main-product-raiting-likes {
  border-left: 2px solid #223263;
  padding-left: 15px;
}

.section-main-product-sum-trio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-main-product-discount-sum {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  /* or 32px */

  letter-spacing: 0.5px;

  /* Primary/Blue */

  color: #40bfff;
}

.section-main-product-original-sum {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  letter-spacing: 0.5px;
  text-decoration-line: line-through;

  /* Neutral/Grey */

  color: #9098b1;
  padding: 0px 10px;
}

.section-main-product-percent {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  letter-spacing: 0.5px;

  /* Primary/Red */

  color: #fb7181;
}

/* load-more */
.load-more {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  padding-top: 50px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/* section-three 3333333333333333333333333333333333333333333333333333333333333333333333333333333 */

.section-three {
  height: 600px;
  background-color: #40bfff;
}

.section-three-twins {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.section-three-twins-left {
  /* border: 1px solid red; */
  padding: 200px 50px 100px 0px;
}

.section-three-twins-left-title {
  /* Adidas Men Running Sneakers */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 82px;

  color: #ffffff;
}

.section-three-twins-left-commit {
  /* Performance and design. Taken right to the edge. */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #ffffff;
  padding-top: 20px;
}
.section-three-twins-left-link {
  padding-top: 20px;
}
.section-three-twins-left-link a {
  /* SHOP NOW */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #ffffff;
  letter-spacing: 2px;
}

.section-three-twins-left-link a:hover {
  font-weight: bold;
  color: #fff;
}

.section-three-twins-right {
  position: absolute;
  right: -100px;
  top: -90px;
}

/* section-four 4444444444444444444444444444444444444444444444444444444444444444444444444444444444444 */

/* .section-four {
  height: 600px;
} */

.profitable-main-trio {
  margin: 100px auto;
  width: 1050px;
  /* margin: auto; */
  /* border: 1px solid green; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sec-four-trio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;

  width: 200px;
  padding: 10px;
  /* height: 300px; */
  /* border: 1px solid red; */
}

.sec-four-trio-img {
  width: 100px;
  padding-bottom: 50px;
  /* height: 65px; */
}

.sec-four-trio-title {
  font-weight: 500;
  font-size: 27px;
  line-height: 40px;
  padding-bottom: 10px;
  color: #22262a;
}

.sec-four-trio-commit {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #22262a;
}

/* section-five 55555555555555555555555555555555555555555555555555555555555555555555555555555555555555 */

.section-five {
  /* height: 600px; */
  /* border: 1px solid rgb(0, 255, 200); */
  text-align: center;
  padding: 80px 0px;
}

.section-five-title {
  padding-bottom: 50px;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  /* identical to box height */

  color: #22262a;
}

.section-five-main-trio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid purple; */
}

#section-five-trio-twins {
  display: flex;
  align-items: center;
}

#section-five-trio-twins-left img {
  width: 149px;
}

#section-five-trio-twins-right {
  width: 190px;
  padding: 5px 5px 5px 30px;
  text-align: left;
}

#section-five-trio-twins-right-date {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #c1c8ce;
}

#section-five-trio-twins-right-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  color: #22262a;
}

#section-five-trio-twins-right-commit {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #22262a;
}

/* section-six 6666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666*/

.section-six {
  /* height: 600px; */
  /* border: 1px solid blue; */
  text-align: center;
  padding: 80px 0px;
}

.section-six-title {
  padding-bottom: 70px;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  /* identical to box height */

  color: #22262a;
}

.section-six-main-trio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid purple; */
}

#section-six-trio-twins {
  display: flex;
  align-items: flex-start;
}

#section-six-trio-twins-left img {
  width: 149px;
}

#section-six-trio-twins-right {
  width: 190px;
  padding: 0px 0px 0px 30px;
  text-align: left;
  justify-content: flex-start;
  /* border: 1px solid purple; */
}

#section-six-trio-twins-right-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;

  color: #262626;
}

.section-six-trio-twins-right-raiting {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 15px 0px;
}

#section-six-trio-twins-right-raiting-result {
  padding: 0px 5px;
}

.section-six-trio-twins-right-raiting-star {
  color: #ffc600;
  padding-right: 20px;
}

#section-six-trio-twins-right-raiting-likes {
  padding-left: 20px;
  border-left: 1px solid #22262a;
}

#section-six-trio-twins-right-raiting-likes i {
  color: #ff4858;
}

.section-six-trio-twins-right-sum {
  display: flex;
  align-items: center;
}

#section-six-trio-twins-right-discount-sum {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #ff4858;
  padding-right: 10px;
}

#section-six-trio-twins-right-original-sum {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #c1c8ce;
}

/* section-seven 77777777777777777777777777777777777777777777777777777777777777777777777777777777777 */

/* .section-seven {
  height: 500px;
} */

.section-seven-searching {
  margin: 80px auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.section-seven-searching input {
  height: 50px;
  width: 600px;
  font-size: 20px;
  text-align: left;
  border: 3px solid #40bfff;
  background-color: #fff;
  padding: 10px;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #262626;

  opacity: 0.35;
}

.section-seven-searching .submit-enter {
  height: 75px;
  width: 180px;
  background-color: #40bfff;
  color: white;
  font-size: 20px;
  border-style: none;
}

.section-seven-searching .submit-enter:hover {
  background-color: #40bfff;
  cursor: pointer;
}

.section-seven-searching form {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  width: 800px;
}

/* footer ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff */

footer {
  background: #bcddfe;
  /* height: 900px; */
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 20px 30px;
  /* border: 1px solid red */
  /* width: 1100px; */
  /* margin: 0 auto; */
}

.footer-all-title {
  font-weight: 400;
  font-size: 34px;
  line-height: 27px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  /* identical to box height */

  color: #22262a;
  border-bottom: 2px solid #22262a;
}

/* .footer-about-us {
  border: 1px solid red;
} */

.footer-about-us-commit {
  width: 200px;
  font-size: 20px;
}

.footer-about-us-social {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-social-icons {
  border: 1px solid #22262a;
  width: 33px;
  height: 33px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  color: #22262a;
}

.footer-get-in-touch {
  width: 250px;
}

.footer-info {
  line-height: 35px;
  font-size: 18px;
}

.footer-info i {
  padding-right: 10px;
}

/* .footer-useful-links {
} */

.footer-links {
  display: flex;
  flex-direction: column;
  line-height: 35px;
  font-size: 20px;
}

.footer-links i {
  padding-right: 10px;
}

.footer-working-hours {
  width: 270px;
}

.footer-schedule {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* border: 1px solid red; */
  line-height: 25px;
}

table {
  width: 270px;
}

.footer-week-days {
  font-weight: bold;
}
